*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    font-family:'Signika Negative';
}
.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}
.logo a{
    color: #A5C663;
    font-family:'Open sans';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: left;
}
.logo span{
    color: #ffffff;
}
.menu {
    float: right;
}
nav{
 width: 100%;
 margin: auto;
 display: flex;
 line-height: 80px;
 position: sticky;
 position: -webkit-sticky;
 top: 0;
 background: #156c72;  
 z-index: 1;
 border-bottom: #156c72;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a {
    color: #ffffff;
    font-weight:400;
    text-align: center;
    padding: 0px 38px 0px 21px ; 
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}
kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}
.kolom .judul {
    color: #000000;
    font-family:'comic sans ms';
    font-size: 45px;
    font-weight: bold;
}

h2{
    font-size: 25px;
    font-weight: 100;
    font-family: 'comic sans ms';
    color: #060606;  
    margin-bottom: 60px;
    width: 100%;
    line-height: 40px;  
}

a.tbl-biru {
    background: #F8FAE5;
    border-radius: 100px;
    margin-top: 60px;
    padding: 15px 20px 15px 20px;
    color: #43766C;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #FFB534;
    text-decoration: none;
}

a.tbl-pink {
    background: #156c72;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px; 
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}
a.tbl-pink:hover{
    background: #FFB534;
    text-decoration: none;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.list-p {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.mouse-1{
    width: 20%;
    margin: 0 auto;
}

.mouse-1 img{
    width: 80%;
    border-radius: 50%;
}

.list-p p{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #060606;
}

h4 {
    font-size: 16px;
    margin-bottom: 10px;
    margin: auto; 
    font-family: 'comic sans ms';
    width: 100%;
    line-height: 20px;
}

a.tbl-mrh {
    background: #156c72;
    border-radius: 20px;
    margin-top:60px;
    padding: 15px 20px 15px 20px; 
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    
}
a.tbl-mrh :hover{
    background: #FFB534;
    text-decoration: none;
}

h4{
    font-size: 18px;
    font-weight: 100;
    font-family: 'comic sans ms';
    color: #060606;  
    margin-bottom: 40px;
    width: 100%;
    line-height: 20px;  

}

.deskripsi{
    font-size: 45px;
    font-family:'comic sans ms';
    color: #c01108;
}

.list-store {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.Store1{
    width: 15%;
    margin: auto;
}

.Store1 img{
    width: 100%;
    border-radius: 50%;
}

#contact {
    background: #156c72;
    padding: 50px 0px 50px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-section{
    width: 20%;
    margin: auto;
}

h3{
    font-family:'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff;
    width: 100%;
    line-height: 50px;
}

p {
    color: #ffffff;
}
p:hover{
    text-decoration: underline;   
}

#copyright{
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }
    .logo {
        display: block;
        width: 100%;
        text-align: center;
    }
    nav .menu {
        width: 100%;
        margin: 0;
    }
    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
     
    }

    section{
        display: block;
    }

    section img {   
        display: block;
        width: 100%;
        height: auto;
    }

    .list-p {
        width: 50%;
    }
    .list-store{
        width: 50%;
    }
}